#page-landing{
  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#page-landing .content-wrapper{
  position: relative;
  
  width: 100%;
  max-width: 68.75rem;
  
  height: 100%;
  max-height: 42.5rem;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  
  background: url(../../images/landing.svg) no-repeat 80% center;
}

#page-landing .content-wrapper main{
  max-width: 21.88rem;
}
#page-landing .content-wrapper main h1{
  font-size: 4.75rem;
  font-weight: 900;
  line-height: 4.87rem;
}

#page-landing .content-wrapper main p{
  margin-top: 1.87rem;
  font-size: 1.5rem;
  line-height: 2.13rem;
}

.content-wrapper .location{
  position: absolute;
  right: 0;
  top: 0;
  
  font-size: 1.5rem;
  line-height: 2.13rem;
  
  
  display: flex;
  flex-direction: column;
  
  text-align: right;
}

.content-wrapper .location strong{
  font-weight: 800;
}


.content-wrapper .enter-app{
  position: absolute;
  right: 0;
  bottom: 0;
  
  width: 5rem;
  height: 5rem;
  border-radius: 2rem;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffd666;

  transition: background-color 0.2s;
}
.content-wrapper .enter-app:hover{
  background: #96FEFF;
}