#page-app{
  width: 100vw;
  height: 100vh;
  
  position: relative;
  display: flex;
}

#page-app aside{ 
  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
  width: 27.5rem;
  padding: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page-app aside h1{
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 2.63rem;
  margin-top: 4rem;
} 
#page-app aside p{
  line-height: 1.75rem;
  margin-top: 1.5rem;
} 
#page-app aside footer{
  display: flex;
  flex-direction: column;
  
  line-height: 1.5rem;
} 
#page-app aside footer strong{
  font-weight: 800;
} 

#page-app .leaflet-container{
  z-index: 5;
} 
#page-app .create-orphanage{
  z-index: 10;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  
  width: 4rem;
  height: 4rem;
  border-radius: 1.25rem;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background: #15C3D6;
  transition: background-color 0.2s;
}
#page-app .create-orphanage:hover{
  background: #17D6EB;

}